version: '3'

services:
  redis:
    image: redis
    ports:
      - "6375:6379"
    volumes:
      - redis:/data
    command: >
      --requirepass redis12345

  app:
    build: .
    ports:
      - "8888:8888"
    depends_on:
      - redis

volumes:
  redis: {}
